@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    font-family: 'Noto Serif', serif;
    background-color: rgba(255, 246, 228, 0.473);
    margin: 0;
}

header {
    background-image: url("https://image.flaticon.com/icons/png/512/3082/3082011.png");
    background-repeat: no-repeat;
    background-size: 12%;
    background-color: rgb(255, 233, 188);
    text-align: center;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

fieldset:nth-child(1) label, fieldset:nth-child(1) input, fieldset:nth-child(2) label, fieldset:nth-child(2) input{
    display: block;
    padding: 1%;
    width: 95%;
}

fieldset:nth-child(3) label, fieldset:nth-child(3) input, fieldset:nth-child(4) label, fieldset:nth-child(4) input {
    display: inline;
    padding: 1%;
    cursor: pointer;
}

fieldset:nth-child(1), fieldset:nth-child(2), fieldset:nth-child(3), fieldset:nth-child(4) {
    margin-bottom: 5%;
}

.container {
    padding: 0% 20%;
}

#estado {
    padding: 1%;
}

.container button {
    box-align: center;
}

button {
    text-align: center;
    width: 20%;
    padding: 3%;
    margin: 5%;
    background-color: rgb(255, 233, 188);
    border: 2px solid rgb(255, 233, 188);;
    border-radius: 5rem;
    transition: all 0.5s ease-in-out;
}

input {
    transition: all 0.5s ease-in-out;
    outline: none;
    border: 2px white solid;
    cursor: pointer;
    
}

input:hover, input:focus {
    outline: none;
    border: 2px solid rgb(255, 211, 123);
    border-color: rgb(255, 211, 123);
    
}

select {
    transition: all 0.5s ease-in-out;
    outline: none;
    border: 2px white solid;
    cursor: pointer;
}

select:hover, select:focus {
    outline: none;
    border: 2px solid rgb(255, 211, 123);
    border-color: rgb(255, 211, 123);
}

button:hover {
    border: 2px solid rgb(255, 211, 123);
}
footer {
    background-color: rgb(255, 233, 188);
    padding: 2%;
    height: 20vh;
}

.icon {
    width: 4%;
    text-align:end;
}

ul {
    list-style-type: none;
}

.botao {
    text-align: center;
    cursor: pointer;
}

div:nth-child(1) h1, div:nth-child(1) h2 {
    display: inline;
}

.footer {
    width: 30%;
    float: left;
}

@keyframes imageRotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }

}

.icones {
    text-align: center;
    padding-top: 5%;
}

.icon:hover {
    animation: imageRotate 3s infinite;
}